# These owners will be the default reviewers for all changes in the repository.
# Unless a more specific rule applies, the following users will be requested for review.

*       @chefpickle @ChefCupcake @Chef-Cheems

# Specific ownership for directories and files

# Contracts directory
/contracts/   @chefpickle @ChefCupcake

# Frontend directory
/frontend/    @ChefCupcake @Chef-Cheems

# Config files
*.json       @chefpickle
*.ts         @ChefCupcake
*.sol        @chefpickle

# Documentation
/docs/       @Chef-Cheems
README.md    @Chef-Cheems
